




/*lessons section css*/
.lessons{
  background: url(../images/money3.jpg) no-repeat top right #fff;
  overflow: hidden;
  background-size: contain;
}
.main_lessons{
  
}

.lesson_title p{
  font-size:2.375rem;
  margin-top: 50%;
  margin-bottom:50px;
  color:#000;
  font-family: 'latolight';
  padding-top: 100px;
}
.lesson_content{}
.lessonsborder{
  position: relative;
}
.lessonsborder:before{
  position: absolute;
  left: 15px;
  top: 20px;
  content: "";
  background: #079247;
  width: 2px;
  height: 90%;
}
.lesson_content ul{
margin:0;
  padding:0;
  list-style:none;
}
.lesson_content ul li{
  margin-bottom: 90px;
  line-height: 30px;
}
.lesson_content ul li i{
  font-size: 40px;
  color: #fcb216;
  background: #fff;
  width: 50px;
  height: 60px;
  line-height: 60px;
  position: relative;
}
.lesson_content ul li a{
  font-size: 1.125rem;
  font-family: 'robotobold';
  color: rgb(0, 0, 0, 0.59);
  text-transform: uppercase;
  padding-left: 10px;
  max-width: 60%;
  display: inline-block;
}
.lesson_content ul li a:hover{
  text-decoration: none;
}
/* scroll back to top button*/
#scroll {
  position:fixed;
  right:10px;
  bottom:10px;
  cursor:pointer;
  width:50px;
  height:50px;
  background-color: #079247;
  
  text-indent:-9999px;
  display:none;
  -webkit-border-radius:60px;
  -moz-border-radius:60px;
  border-radius:60px
}
#scroll span {
  position:absolute;
  top:50%;
  left:50%;
  margin-left:-8px;
  margin-top:-12px;
  height:0;
  width:0;
  border:8px solid transparent;
  border-bottom-color:#ffffff;
}
#scroll:hover {
  background-color: #fcb216;
  opacity:1;filter:"alpha(opacity=100)";
  -ms-filter:"alpha(opacity=100)";
}